h1 {
  font-size: 2.5em; /* 40px/16=2.5em */
  font-family: 'Kanit', sans-serif;
}

h2 {
  font-size: 1.875em; /* 30px/16=1.875em */
  font-family: 'Kanit', sans-serif;
}
h5 {
  font-family: 'Kanit', sans-serif;
}

p {
  font-size: 1.2em; /* 14px/16=0.875em */
  font-family: 'Kanit', sans-serif;
}
.custom-font {
  font-family: 'Kanit', sans-serif; /* Replace 'Your Custom Font' with the actual font name or font stack */
}
body{
  font-family: 'Kanit', sans-serif;
}
.card-heading{
  font-family: 'Kanit', sans-serif;
}
.card-container {
  display: flex;
  justify-content: center; /* ให้การ์ดมาอยู่ตรงกลาง */
  gap: 20px; /* ระยะห่างระหว่างการ์ด (ตามความต้องการ) */
}
.card-menu {
  width: 250px; 
  height: 300px; 
}
.card {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center;
   */
  width: 700px; 
  height: 300px;
}
.card-info {
  width: 1000px; /* กำหนดความกว้างของการ์ด (ความกว้างแนวนอน) */
  height: auto; /* ปรับความสูงอัตโนมัติเพื่อให้เนื้อหาภายในมีขนาดเหมาะสม */
  border: 1px solid #ccc; /* กำหนดขอบกรอบ 2px สีเทา */
  padding: 20px; /* ระยะห่างของเนื้อหาจากขอบ */
  margin: 0 auto; /* จัดการตำแหน่งตรงกลาง (แนวนอน) */
  font-family: 'Kanit', sans-serif;
}

.button-container {
  text-align: right;
}

.list-group{
  width: 1000px; /* กำหนดความกว้างของการ์ด (ความกว้างแนวนอน) */
  height: auto; /* ปรับความสูงอัตโนมัติเพื่อให้เนื้อหาภายในมีขนาดเหมาะสม */
}

.card-footer {
  text-align: Right; /* จัดปุ่มให้อยู่ตรงกลางของ footer */
  padding: 10px; /* ระยะห่างของ footer */
  width: 900px; /* กำหนดความกว้างของการ์ด (ความกว้างแนวนอน) */
  height: auto; /* ปรับความสูงอัตโนมัติเพื่อให้เนื้อหาภายในมีขนาดเหมาะสม */
}

.btn-primary {
  font-size: 18px; /* ขนาดตัวอักษรของปุ่ม */
  padding: 10px 20px; /* ขนาด Padding ของปุ่ม (บน-ล่าง, ซ้าย-ขวา) */
}

.custom-select {
  font-family: 'Kanit', sans-serif;
  /* Additional styles can be added here */
  width: 350px;
  height: 35px;

}

.custom-body {
  font-family: 'Kanit', sans-serif;
  /* Additional styles can be added here */

}

.bi-search{
  color: black;
}

.nested-box{
  padding: 20px;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* margin: 10px; */
  /* margin-left: 10px; */
  /* width: 500px; */
  margin-top: 8px;
  height: 300px;
  background-color: rgb(230, 245, 192);
}

.Dashboard {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(400px, auto);
  grid-auto-flow: dense;
}

.Dashboard .box {
  padding: 20px;
  border-radius: 10px;
  /* border: 2px solid rgb(184, 215, 241); */
  border: 2px solid rgb(192, 245, 215);
  background-color: rgb(192, 245, 215);
}

/* .Dashboard .box1 {
  grid-column: span 1;
  grid-row: span 3;
} */
.nested-box-Not-Vacinated{
  padding: 20px;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* margin: 10px; */
  /* margin-left: 10px; */
  /* width: 500px; */
  margin-top: 8px;
  height: 300px;
  border: 2px solid rgb(238, 182, 195);
  background-color: rgb(228, 217, 220);
}
.nested-box-Vacinated{
  padding: 20px;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* margin: 10px; */
  /* margin-left: 10px; */
  /* width: 500px; */
  margin-top: 8px;
  height: 300px;
  border: 2px solid rgb(151, 229, 169);
  background-color: rgb(208, 249, 213);
}
.Dashboard-vac {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(400px, auto);
  grid-auto-flow: dense;
}

.Dashboard-vac .box {
  padding: 20px;
  border-radius: 10px;
  /* border: 2px solid rgb(184, 215, 241); */
  border: 2px solid rgb(235, 241, 238);
  background-color: rgb(235, 241, 238);
}