h1 {
  font-size: 2.5em; /* 40px/16=2.5em */
}

h2 {
  font-size: 1.875em; /* 30px/16=1.875em */
}

p {
  font-size: 0.875em; /* 14px/16=0.875em */
}

.card-container {
  display: flex;
  justify-content: center; /* ให้การ์ดมาอยู่ตรงกลาง */
  gap: 20px; /* ระยะห่างระหว่างการ์ด (ตามความต้องการ) */
}
.card {
  width: 250px; /* กำหนดความกว้างของการ์ด */
  height: 200px; /* กำหนดความสูงของการ์ด */
}

.card-info {
  width: 1000px; /* กำหนดความกว้างของการ์ด (ความกว้างแนวนอน) */
  height: auto; /* ปรับความสูงอัตโนมัติเพื่อให้เนื้อหาภายในมีขนาดเหมาะสม */
  border: 1px solid #ccc; /* กำหนดขอบกรอบ 2px สีเทา */
  padding: 20px; /* ระยะห่างของเนื้อหาจากขอบ */
  margin: 0 auto; /* จัดการตำแหน่งตรงกลาง (แนวนอน) */
}

.button-container {
  text-align: right;
}

.list-group{
  width: 1000px; /* กำหนดความกว้างของการ์ด (ความกว้างแนวนอน) */
  height: auto; /* ปรับความสูงอัตโนมัติเพื่อให้เนื้อหาภายในมีขนาดเหมาะสม */
}

.card-footer {
  text-align: Right; /* จัดปุ่มให้อยู่ตรงกลางของ footer */
  padding: 10px; /* ระยะห่างของ footer */
  width: 900px; /* กำหนดความกว้างของการ์ด (ความกว้างแนวนอน) */
  height: auto; /* ปรับความสูงอัตโนมัติเพื่อให้เนื้อหาภายในมีขนาดเหมาะสม */
}

.btn-primary {
  font-size: 18px; /* ขนาดตัวอักษรของปุ่ม */
  padding: 10px 20px; /* ขนาด Padding ของปุ่ม (บน-ล่าง, ซ้าย-ขวา) */
}